{% extends 'slidebar.html' %}

{% block content %}
    <!-- Main Content -->
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center vh-100">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body p-4">

                        <h2 class="mb-4">Editar Tarea de Grupo</h2>

                        <form method="POST" action="">
                            <div class="mb-3">
                                <label for="title" class="form-label">Título:</label>
                                <input type="text" class="form-control" name="title" value="{{ task.title }}" required>
                            </div>

                            <div class="mb-3">
                                <label for="description" class="form-label">Descripción:</label>
                                <textarea class="form-control" name="description"
                                    required>{{ task.description }}</textarea>
                            </div>

                            <!-- Código para la lista desplegable que no funciona
                            <div class="mb-3">
                                <label for="assigned_user_email" class="form-label">Asignar a Usuario:</label>
                                <select class="form-control" name="assigned_user_email">
                                    {% for user in users_in_group %}
                                        <option value="{{ user }}" {% if user == task.assigned_user_email %}selected{% endif %}>{{ user }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            ---->

                            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

        {% endblock %}