{% extends 'slidebar.html' %}

{% block content %}
<script src="{{ url_for('static', filename='custom.js') }}"></script>
<style>
    .chat-box {
        position: fixed !important;
        bottom: 20px !important;
        right: 20px !important;
        width: 300px !important;
        max-height: 400px !important;
        background: white !important;
        border: 1px solid #ccc !important;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
        overflow: hidden !important;
        z-index: 1000 !important;
        /* Añadir un z-index alto */
        /* Eliminar la barra de desplazamiento del chat-box */
    }

    .chat-header,
    .chat-footer {
        padding: 10px !important;
        background: #007bff !important;
        color: white !important;
        z-index: 1001 !important;
        /* Asegurarse de que el encabezado y pie de chat también estén por encima */
    }

    .chat-header {
        font-weight: bold !important;
        cursor: pointer !important;
    }

    .chat-messages {
        padding: 10px !important;
        height: 300px !important;
        overflow-y: scroll !important;
        z-index: 1001 !important;
        /* Asegurarse de que los mensajes también estén por encima */
        /* Mantener la barra de desplazamiento solo en esta área */
    }

    .chat-message {
        padding: 5px 0 !important;
    }

    .chat-message-user {
        font-weight: bold !important;
    }

    .chat-footer {
        display: flex !important;
        align-items: center !important;
    }

    #chat-input {
        flex: 1 !important;
        margin-right: 10px !important;
    }

    #chat-form button {
        flex-shrink: 0 !important;
    }
</style>



<!-- Main content -->
<section class="content">

    <!-- Modal para editar tarea -->
    <div class="modal fade" id="editTaskModal" tabindex="-1" aria-labelledby="editTaskModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editTaskModalLabel">Editar Tarea</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editTaskForm" action="/edit-task" method="post">
                        <input type="hidden" id="editTaskId" name="id">
                        <div class="form-group">
                            <label for="editTitle">Título</label>
                            <input type="text" class="form-control" id="editTitle" name="title" required>
                        </div>
                        <div class="form-group">
                            <label for="editDescription">Descripción</label>
                            <textarea class="form-control" rows="5" id="editDescription" name="description"
                                required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="editStartDate">Fecha de Inicio</label>
                            <input type="datetime-local" class="form-control" id="editStartDate" name="start_date"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="editEndDate">Fecha de Fin</label>
                            <input type="datetime-local" class="form-control" id="editEndDate" name="end_date" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='custom.js') }}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const statusForms = document.querySelectorAll('.status-form');

            statusForms.forEach(form => {
                form.addEventListener('change', function () {
                    const taskId = this.dataset.taskId;
                    const status = this.querySelector('select[name="status"]').value;
                    const formData = new FormData();
                    formData.append('status', status);

                    fetch(`/update-task-status/${taskId}`, {
                        method: 'POST',
                        body: formData
                    })
                        .then(response => {
                            if (response.ok) {
                                console.log('Estado actualizado exitosamente');
                            } else {
                                console.error('Error al actualizar el estado');
                            }
                        })
                        .catch(error => {
                            console.error('Error al actualizar el estado:', error);
                        });
                });
            });
        });
    </script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="sticky-top mb-3">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Añadir tarea</h3>
                        </div>
                        <div class="card-body">
                            <div class="input-group">
                                <form action="/group-tasks/{{ group.0 }}" method="post">
                                    <label for="title">Título</label>
                                    <input type="text" class="form-control mb-3" id="title" name="title" required>
                    
                                    <label for="description">Descripción</label>
                                    <textarea class="form-control mb-3" id="description" rows="5" name="description" required></textarea>
                    
                                    <label for="assigned_user_email">Correo del Usuario Asignado</label>
                                    <select class="form-control mb-3" id="assigned_user_email" name="assigned_user_email" required>
                                        {% for email in members_emails %}
                                            <option value="{{ email }}">{{ email }}</option>
                                        {% endfor %}
                                    </select>
                    
                                    <label for="date_task">Fecha de Tarea</label>
                                    <input type="datetime-local" class="form-control mb-3" id="date_task" name="date_task" value="{{ datetime.now().strftime('%Y-%m-%dT%H:%M') }}" required>
                    
                                    <label for="date_end">Fecha de Fin</label>
                                    <input type="datetime-local" class="form-control mb-3" id="date_end" name="date_end" value="{{ datetime.now().strftime('%Y-%m-%dT%H:%M') }}" required>
                    
                                    <label for="status">Estado</label>
                                    <select class="form-control mb-3" id="status" name="status">
                                        <option value="Pendiente">Pendiente</option>
                                        <option value="Realizado">Realizado</option>
                                        <option value="Pospuesto">Pospuesto</option>
                                    </select>
                    
                                    <button type="submit" class="btn btn-primary w-100">Guardar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                
                <!-- /.card -->
                <div class="card mt-3">
                    <div class="card-header">
                        <h4 class="card-title">Tareas Pendientes</h4>
                    </div>
                    <div class="card-body">
                        <!-- Tareas -->
                        <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
                            {% for task in tasks %}
                            <div class="col">
                                <div class="card h-100">
                                    <div class="card-header">
                                        {{ task.title }}
                                    </div>
                                    <div class="card-body">
                                        {{ task.description }}
                                    </div>
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col-12 mb-2">
                                                <small class="text-muted">Fecha: {{ task.date_task }}</small>
                                            </div>
                                            <div class="col-12">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <small class="text-muted">Asignada a: {{
                                                            task.assigned_user_email }}</small>
                                                    </div>
                                                    <div>
                                                        <form class="status-form" data-task-id="{{ task.id }}">
                                                            <select name="status"
                                                                class="form-select form-select-sm ms-2">
                                                                <option value="Pendiente" {% if task.status=='Pendiente'
                                                                    %}selected{% endif %}>Pendiente</option>
                                                                <option value="Realizado" {% if task.status=='Realizado'
                                                                    %}selected{% endif %}>Realizado</option>
                                                                <option value="Pospuesto" {% if task.status=='Pospuesto'
                                                                    %}selected{% endif %}>Pospuesto</option>
                                                            </select>
                                                        </form>
                                                        <div class="btn-group ms-2" role="group">
                                                            <a href="{{ url_for('edit_group_task', task_id=task.id, group_id=group.0) }}"
                                                                class="btn btn-outline-primary btn-sm">Editar</a>
                                                            <form action="/delete-group-task" method="POST"
                                                                class="d-inline">
                                                                <input type="hidden" value="{{ task.id }}" name="id">
                                                                <input type="hidden" value="{{ group.0 }}"
                                                                    name="group_id">
                                                                <button type="submit"
                                                                    class="btn btn-outline-danger btn-sm">Eliminar</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<script>
    function loadTaskData(id, title, description, date_task, date_end) {
        document.getElementById('editTaskId').value = id;
        document.getElementById('editTitle').value = title;
        document.getElementById('editDescription').value = description;
        document.getElementById('editStartDate').value = date_task.replace(' ', 'T');
        document.getElementById('editEndDate').value = date_end.replace(' ', 'T');
    }
</script>



<!-- Modal de tareas -->
<div class="modal fade" id="task-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva tarea</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/group-tasks/{{ group.0 }}" method="post">
                    <label>Título</label>
                    <input type="text" class="form-control mb-3" name="title">
                    <label>Descripción</label>
                    <textarea class="form-control mb-3" rows="5" name="description"></textarea>

                    <label>Asignar a Usuario</label>
                    <select class="form-control" name="assigned_user_email" required>
                        {% for member_email in group[2].split(',') %}
                        <option value="{{ member_email }}">{{ member_email }}</option>
                        {% endfor %}
                    </select>

                    <button type="submit" class="btn btn-primary">Agregar Tarea</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Chat emergente -->
<div class="chat-box" id="chat-box">
    <div class="chat-header" onclick="toggleChat()">Chat del Grupo</div>
    <div class="chat-messages" id="chat-messages"></div>
    <div class="chat-footer">
        <form id="chat-form" onsubmit="sendMessage(event)" class="d-flex align-items-center">
            <input type="text" id="chat-input" class="form-control me-2" placeholder="Escribe tu mensaje..." required>
            <input type="hidden" id="chat-group-id" value="{{ group.0 }}">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        loadChatMessages();
        startPolling();

        const statusForms = document.querySelectorAll('.status-form');
        statusForms.forEach(form => {
            form.addEventListener('change', function () {
                const taskId = this.dataset.taskId;
                const status = this.querySelector('select[name="status"]').value;
                const formData = new FormData();
                formData.append('status', status);

                fetch(`/update-group-task-status/${taskId}`, {
                    method: 'POST',
                    body: formData
                })
                    .then(response => {
                        if (response.ok) {
                            console.log('Estado actualizado exitosamente');
                        } else {
                            console.error('Error al actualizar el estado');
                        }
                    })
                    .catch(error => {
                        console.error('Error al actualizar el estado:', error);
                    });
            });
        });
    });

    function toggleChat() {
        const chatBox = document.getElementById('chat-box');
        const chatMessages = document.getElementById('chat-messages');
        if (chatMessages.style.display === 'none') {
            chatMessages.style.display = 'block';
        } else {
            chatMessages.style.display = 'none';
        }
    }

    function loadChatMessages() {
        const groupId = document.getElementById('chat-group-id').value;
        fetch(`/get-group-chat/${groupId}`)
            .then(response => response.json())
            .then(messages => {
                const chatMessages = document.getElementById('chat-messages');
                chatMessages.innerHTML = '';
                messages.forEach(message => {
                    const messageDiv = document.createElement('div');
                    messageDiv.classList.add('chat-message');
                    messageDiv.innerHTML = `<span class="chat-message-user">${message.user_email}:</span> ${message.message}`;
                    chatMessages.appendChild(messageDiv);
                });
                scrollToBottom(chatMessages);
            });
    }

    function sendMessage(event) {
        event.preventDefault();
        const groupId = document.getElementById('chat-group-id').value;
        const chatInput = document.getElementById('chat-input');
        const message = chatInput.value;

        const formData = new FormData();
        formData.append('group_id', groupId);
        formData.append('message', message);

        fetch('/send-group-chat', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'Message sent') {
                    chatInput.value = '';
                    loadChatMessages();
                } else {
                    console.error('Error al enviar el mensaje');
                }
            });
    }

    function startPolling() {
        const groupId = document.getElementById('chat-group-id').value;
        (function poll() {
            fetch(`/get-group-chat/${groupId}`)
                .then(response => response.json())
                .then(messages => {
                    const chatMessages = document.getElementById('chat-messages');
                    chatMessages.innerHTML = '';
                    messages.forEach(message => {
                        const messageDiv = document.createElement('div');
                        messageDiv.classList.add('chat-message');
                        messageDiv.innerHTML = `<span class="chat-message-user">${message.user_email}:</span> ${message.message}`;
                        chatMessages.appendChild(messageDiv);
                    });
                    scrollToBottom(chatMessages);
                    setTimeout(poll, 5000); // Espera 5 segundos antes de hacer la siguiente solicitud
                })
                .catch(error => {
                    console.error('Error al obtener mensajes del chat:', error);
                    setTimeout(poll, 5000); // Reintentar después de 5 segundos en caso de error
                });
        })();
    }

    function scrollToBottom(element) {
        element.scrollTop = element.scrollHeight;
    }
</script>



{% endblock %}