{% extends 'slidebar.html' %}

{% block content %}
    <main class="d-flex">
        <div class="container-fluid row m-0 vh-100 justify-content-center align-items-center">
            <div class="card shadow w-50">
                <div class="card-body">

                    <!-- Mostrar la lista de grupos -->

                    <h3 class="text-center">¡Bienvenido a la aplicación de tareas! </h3>
                    <h3 class="text-center">Da click en cualquiera de las opciones a tu izquierda para empezar</h3>
                    

                </div>
            </div>
        </div>
    </main>
    {% endblock %}

<!-- ES POSIBLE QUE ESTA INTERFAZ SEA ELIMINADA SI NO APORTA NADA-->
