<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Python - Flask - GestorTareas</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

</head>

<body>
  <main class="d-flex">
    <div class="container-fluid row m-0 vh-100 justify-content-center align-items-center">
      <div class="card shadow w-50">
        <div class="card-body">

          <!-- Mostrar mensajes flash -->
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}

          <!-- Formulario de registro -->

          <form action="/register" method="post">
            <h3 class="text-center">APLICACIÓN DE TAREAS</h3>
            <h5 class="text-center">Registro de Usuario</h5>

            <label>Nombre</label>
            <input type="text" class="form-control mb-3" name="name">

            <label>Apellidos</label>
            <input type="text" class="form-control mb-3" name="surnames">

            <label>Email</label>
            <input type="email" class="form-control mb-3" name="email">

            <label>Contraseña</label>
            <input type="password" class="form-control mb-3" name="password">

            <button type="submit" class="btn btn-success w-100">Registrarse</button>
          </form>
          <form action="/" method="get">
            <button type="submit" class="btn btn-primary w-100 mt-3">Inicio</button>
          </form>

        </div>
      </div>
    </div>
  </main>

</body>

</html>